<html>

<head>
  <title>Memory stats</title>
  <%= erb :css %>
</head>

<body>
  <% if current_job %>
    <p><a href="/">Index</a> - <a href="/<%= date %>/"><%= date %></a> - <%= current_job %></p>
    <h1>Memory stats for job <%= current_job %> on <%= date %></h1>
    <p>Memory used by this job over time.</p>
  <% else %>
    <p><a href="/">Index</a> - <%= date %></p>
    <h1>Memory stats <%= date %></h1>
    <p>Click a job ID to look at memory usage over time.</p>
  <% end %>

  <% if current_job %>
    <p class="mem-chart">
      <%=
        mems = (current_job ? stats[current_job] : stats).map do |job_id, job|
          # cur           max           req
          [ job[10].to_f, job[11].to_f, job[5].to_f ]
        end

        max_mem = mems.map{|a|a.max}.max || 1
        scaling = 50 / max_mem
        width = [ 1, [ 400 / mems.size, 5 ].min ].max rescue 1

        mems.reverse.map do |cur, max, req|
          cur = (cur * scaling).to_i
          max = (max * scaling).to_i - cur
          req = (req * scaling).to_i - (max + cur)
          "<span class=\"entry\" style=\"width:#{width}px;\">" +
          "<span class=\"mbar-req\" style=\"width:#{width}px; height:#{ req }px\"></span>" +
          "<span class=\"mbar-max\" style=\"width:#{width}px; height:#{ max }px\"></span>" +
          "<span class=\"mbar-cur\" style=\"width:#{width}px; height:#{ cur }px\"></span>" +
          "</span>"
        end.join
      %>
    </p>
  <% end %>

  <table cellspacing="0" class="legend">
    <tr><td><span class="mbar-cur" style="width: 50px"></span></td><td>VMemCurrent</td><td>current memory usage</td></tr>
    <tr><td><span class="mbar-max" style="width: 50px"></span></td><td>VMemMax</td><td>maximum memory usage</td></tr>
    <tr><td><span class="mbar-req" style="width: 50px"></span></td><td>VMemRequested</td><td>requested memory</td></tr>
  </table>

  <% if current_job and next_date(date) %>
    <p><a href="/<%= next_date(date) %>/<%=h current_job %>">Look for this job on the next day</a></p>
  <% end %>
  <% if current_job and previous_date(date) %>
    <p><a href="/<%= previous_date(date) %>/<%=h current_job %>">Look for this job on the previous day</a></p>
  <% end %>

  <table cellspacing="0" class="stats">
    <thead>
      <tr>
        <%=
          %w{ Time Job Owner Name VMemRequested VMemCurrent VMemMax }.map do |i|
            "<th>#{ i }</th>"
          end.join
        %>
      </tr>
    </thead>
    <tbody>
      <%
        (current_job ? stats[current_job] : stats).each do |job_id, job|
      %>
        <tr>
          <td><%= Time.at(job[0].to_i).localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <% if current_job %>
            <td><%=h job_id %></td>
          <% else %>
            <td><a href="<%=h job_id %>"><%=h job_id %></a></td>
          <% end %>
          <td><%=h job[3] %></td>
          <td><%=h job[4] %></td>
          <%=
            # memory
            [ 5, 10, 11 ].map do |i|
              "<td class=\"r\">#{ format_mem(job[i]) } MB</td>"
            end.join
          %>
          <td class="mbar"><nobr><%
            # vmem current
            vmem_cur_pix = (200 * (job[10].to_f / (1024*1024*1024*12))).to_i
            # vmem max
            vmem_max_pix = (200 * (job[11].to_f / (1024*1024*1024*12))).to_i
            # vmem requested
            vmem_req_pix = (200 * (job[5].to_f  / (1024*1024*1024*12))).to_i
            %><span class="mbar-cur" style="width: <%= vmem_cur_pix %>px"></span><%
            if vmem_max_pix > vmem_cur_pix
              %><span class="mbar-max" style="width: <%= vmem_max_pix - vmem_cur_pix %>px"></span><%
            end
            if vmem_req_pix > vmem_max_pix
              %><span class="mbar-req" style="width: <%= vmem_req_pix - vmem_max_pix %>px"></span><%
            end
          %></nobr></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_job and previous_date(date) %>
    <p><a href="/<%= previous_date(date) %>/<%=h current_job %>">Look for this job on the previous day</a></p>
  <% end %>
</body>
</html>

