<html>

<head>
  <title>Memory stats</title>
  <%= erb :css %>
</head>

<body>
  <% if current_job %>
    <p><a href="/">Index</a> - <a href="/<%= date %>/"><%= date %></a> - <%= current_job %></p>
    <h1>Memory stats for job <%= current_job %> on <%= date %></h1>
    <p>Memory used by this job over time.</p>
  <% else %>
    <p><a href="/">Index</a> - <%= date %></p>
    <h1>Memory stats <%= date %></h1>
    <p>Click a job ID to look at memory usage over time.</p>
  <% end %>

  <table cellspacing="0" class="legend">
    <tr><td><span class="mbar-cur" style="width: 50px"></span></td><td>VMemCurrent</td><td>current memory usage</td></tr>
    <tr><td><span class="mbar-max" style="width: 50px"></span></td><td>VMemMax</td><td>maximum memory usage</td></tr>
    <tr><td><span class="mbar-req" style="width: 50px"></span></td><td>VMemRequested</td><td>requested memory</td></tr>
  </table>

  <table cellspacing="0" class="stats">
    <thead>
      <tr>
        <%=
          %w{ Time Job Owner Name VMemRequested VMemCurrent VMemMax }.map do |i|
            "<th>#{ i }</th>"
          end.join
        %>
      </tr>
    </thead>
    <tbody>
      <%
        lines = []
        if current_job
          stats[current_job].each do |job_stat|
            lines << [ current_job, job_stat ]
          end
        else
          lines = stats
        end
        lines.each do |job_id, job|
      %>
        <tr>
          <td><%= Time.at(job[0].to_i).localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <% if current_job %>
            <td><%=h job_id %></td>
          <% else %>
            <td><a href="<%=h job_id %>"><%=h job_id %></a></td>
          <% end %>
          <td><%=h job[3] %></td>
          <td><%=h job[4] %></td>
          <%=
            # memory
            [ 5, 10, 11 ].map do |i|
              "<td class=\"r\">#{ format_mem(job[i]) } MB</td>"
            end.join
          %>
          <td class="mbar"><nobr><%
            # vmem current
            vmem_cur_pix = (200 * (job[10].to_f / (1024*1024*1024*12))).to_i
            # vmem max
            vmem_max_pix = (200 * (job[11].to_f / (1024*1024*1024*12))).to_i
            # vmem requested
            vmem_req_pix = (200 * (job[5].to_f  / (1024*1024*1024*12))).to_i
            %><span class="mbar-cur" style="width: <%= vmem_cur_pix %>px"></span><%
            if vmem_max_pix > vmem_cur_pix
              %><span class="mbar-max" style="width: <%= vmem_max_pix - vmem_cur_pix %>px"></span><%
            end
            if vmem_req_pix > vmem_max_pix
              %><span class="mbar-req" style="width: <%= vmem_req_pix - vmem_max_pix %>px"></span><%
            end
          %></nobr></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>

