<% unless only_content %>
<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Matlab licenses</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/cluster.css" />
    <script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    <script type="text/javascript">
    <!--
    (function() {
      window.addEvent('domready', function() {
        window.setInterval(function() {
          new Request.HTML({
            url: '/matlab?only_content=true',
            noCache: true,
            update: $('matlab-licenses-container'),
            onSuccess: function() {
              var d=new Date(),
                  h=d.getHours(),
                  m=d.getMinutes(),
                  s=d.getSeconds();
              if (h < 10) m = '0'+h;
              if (m < 10) m = '0'+m;
              if (s < 10) s = '0'+s;
              $('timestamp').innerHTML = h+':'+m+':'+s;
            }
          }).get();
        }, 300000);
      });
    }());
    -->
    </script>
  </head>

  <body>

    <div id="header">
      <p><span>Matlab licenses</span><span id="timestamp"><%= Time.now.localtime.strftime("%H:%M:%S") %></span></p>
      <p class="nav"><a href="/queues">Queues</a><a href="/memory">Memory</a></p>
    </div>

    <div class="matlab-licenses" id="matlab-licenses-container">
<% end %>

      <h1>Matlab licenses</h1>

      <ul class="toolboxes">
        <%
        toolboxes.sort_by do |stats|
          stats[:licenses_issued].to_i
        end.reverse.each do |stats| %>
          <li>
            <h2><strong><%=h stats[:toolbox].gsub("_"," ") %></strong> &nbsp; <%= stats[:licenses_used] %>/<%= stats[:licenses_issued] %></h2>
            <ul class="users">
              <% stats[:users].each do |user| %>
                <li class="in-use"><%=h user.capitalize %></li>
              <% end %>
              <% (stats[:licenses_issued].to_i - stats[:licenses_used].to_i).times do %>
                <li class="available">available</li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

<% unless only_content %>
    </div>

  </body>

</html>
<% end %>

