<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Memory stats</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/cluster.css" />
    <script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    <script type="text/javascript" src="/memory.js"></script>
  </head>

  <body>
    <div id="header">
      <p id="date-nav-links">
      <% if running %>
        <span class="current">Current jobs</span>
      <% else %>
        <a href="/memory" class="date-nav-link">Current jobs</a>
      <% end %>
      <% dates.reverse.each do |the_date| %>
        <% if not current_job and not running and date == the_date %>
          <span class="current"><%= the_date %></span>
        <% else %>
          <a href="/memory/<%= the_date %>/" class="date-nav-link"><%= the_date %></a>
        <% end %>
      <% end %>
      </p>
      <p class="nav"><a href="/queues">Queues</a><a href="/chart">History</a><a href="/matlab">Matlab</a><a href="/resources">Resources</a></p>
    </div>

    <div class="memory-stats">
    <% if current_job %>
      <h1>Memory stats for job <%= current_job %> on <%= date %></h1>
      <p>Memory used by this job over time.</p>
    <% elsif running %>
      <h1>Current memory allocation</h1>
    <% else %>
      <h1>Memory stats for <%= date %></h1>
      <p>Click a job ID to look at memory usage over time.</p>
    <% end %>

    <% if current_job %>
      <p class="mem-chart">
        <%=
          mems = stats.map do |job|
            # cur               max                  req
            [ job["vmem"].to_f, job["maxvmem"].to_f, job["vmem_request"].to_f ]
          end

          max_mem = mems.map{|a|a.max}.max || 1
          scaling = 50 / max_mem
          width = [ 1, [ 400 / mems.size, 5 ].min ].max rescue 1

          mems.reverse.map do |cur, max, req|
            cur = (cur * scaling).to_i
            max = (max * scaling).to_i - cur
            req = (req * scaling).to_i - (max + cur)
            "<span class=\"entry\" style=\"width:#{width}px;\">" +
            ((req > 0) ? "<span class=\"mbar-req\" style=\"width:#{width}px; height:#{ req }px\"></span>" : "") +
            ((max > 0) ? "<span class=\"mbar-max\" style=\"width:#{width}px; height:#{ max }px\"></span>" : "") +
            ((cur > 0) ? "<span class=\"mbar-cur\" style=\"width:#{width}px; height:#{ cur }px\"></span>" : "") +
            "</span>"
          end.join
        %>
      </p>
    <% end %>

    <% if running %>
      <table cellspacing="0" class="total-cluster-mbar">
        <tr>
          <th colspan="4">
            Current memory allocation (sum of all running jobs)
          </th>
        </tr>
        <tr>
        <%
          total_cur = 0
          total_max = 0
          total_req = 0
          mems = stats.map do |job|
            total_cur += job["vmem"].to_f
            total_max += job["maxvmem"].to_f
            total_req += job["vmem_request"].to_f
          end

          max_mem = 1024*1024*1024*1260
          # vmem current
          vmem_cur_pix = (600 * (total_cur.to_f / max_mem)).to_i
          # vmem max
          vmem_max_pix = (600 * (total_max.to_f / max_mem)).to_i
          # vmem requested
          vmem_req_pix = (600 * (total_req.to_f / max_mem)).to_i
          %><td><span class="mbar-cur" style="width: <%= vmem_cur_pix %>px"></span><div class="num"><%= format_mem(total_cur) %> MB<br/>in use by running jobs</div></td><%
          %><td><%
          if vmem_max_pix > vmem_cur_pix
            %><span class="mbar-max" style="width: <%= vmem_max_pix - vmem_cur_pix %>px"></span><div class="num"><%= format_mem(total_max - total_cur) %> MB</div><%
          end
          %></td><td colspan="2"><%
          if vmem_req_pix > vmem_max_pix
            %><span class="mbar-req" style="width: <%= vmem_req_pix - vmem_max_pix %>px"></span><div class="num"><%= format_mem(total_req - total_max) %> MB<br/>requested, but never actually used</div><%
          end
          %></td><%
        %>
        </tr>
      </table>

      <h1>Current jobs</h1>
      <p>Click a job ID to look at memory usage over time.</p>
    <% end %>

    <table cellspacing="0" class="legend">
      <tr><td><span class="mbar-cur" style="width: 50px"></span></td><td>VMemCurrent</td><td>current memory usage</td></tr>
      <tr><td><span class="mbar-max" style="width: 50px"></span></td><td>VMemMax</td><td>maximum memory usage</td></tr>
      <tr><td><span class="mbar-req" style="width: 50px"></span></td><td>VMemRequested</td><td>requested memory</td></tr>
    </table>

    <% if current_job and next_date(date) %>
      <p><a href="/memory/<%= next_date(date) %>/<%=h current_job %>">Look for this job on the next day</a></p>
    <% end %>
    <% if current_job and previous_date(date) %>
      <p><a href="/memory/<%= previous_date(date) %>/<%=h current_job %>">Look for this job on the previous day</a></p>
    <% end %>

    <form action="#" method="post" id="table-filter">
    <table cellspacing="0" class="stats">
      <thead>
        <tr>
          <th>Time</th>
          <th>Job</th>
          <th>Owner</th>
          <th>Name</th>
          <th>Queue</th>
          <th class="r">VMemRequested</th>
          <th class="r">VMemCurrent</th>
          <th class="r">VMemMax</th>
          <th>&nbsp;</th>
        </tr>
        <% if not current_job %>
          <tr id="table-filter-input-row">
            <td>&nbsp;</td>
            <td><input type="search" placeholder="Filter" class="filter" size="1" name="jobid" value="<%=h params["jobid"] %>" /></td>
            <td><input type="search" placeholder="Filter" class="filter" size="1" name="owner" value="<%=h params["owner"] %>" /></td>
            <td><input type="search" placeholder="Filter" class="filter" size="1" name="jobname" value="<%=h params["jobname"] %>" /></td>
            <td><input type="search" placeholder="Filter" class="filter" size="1" name="queue" value="<%=h params["queue"] %>" /></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        <% end %>
      </thead>
      <tbody>
        <%
          job_id_filter = params[:jobid].to_s.downcase.strip
          job_id_filter = nil if job_id_filter == ""
          owner_filter = params[:owner].to_s.downcase.strip
          owner_filter = nil if owner_filter == ""
          jobname_filter = params[:jobname].to_s.downcase.strip
          jobname_filter = nil if jobname_filter == ""
          queue_filter = params[:queue].to_s.downcase.strip
          queue_filter = nil if queue_filter == ""

          stats.each do |job|
            job_id = job["job_id"]
            matches_filter = (
              (job_id_filter.nil? || job_id.to_s.downcase.include?(job_id_filter))   &&
              (owner_filter.nil? || job["owner"].to_s.downcase.include?(owner_filter))     &&
              (jobname_filter.nil? || job["job_name"].to_s.downcase.include?(jobname_filter)) &&
              (queue_filter.nil? || job["job_project"].to_s.downcase.include?(queue_filter))
            )
        %>
          <tr<% unless matches_filter %> style="display:none"<% end %>>
            <td><%= Time.at(job["timestamp"].to_i).localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <% if current_job %>
              <td><%=h job_id %></td>
            <% else %>
              <td><a href="/memory/<%= date %>/<%=h job_id %>"><%=h job_id %></a></td>
            <% end %>
            <td><%=h job["owner"] %></td>
            <td title="<%=h job["job_name"] %>"><%=h job["job_name"] %></td>
            <td><%=h job["job_project"].to_s.sub(/^p[0-9]+_/, "") %></td>
            <%=
              # memory
              %w{ vmem_request vmem maxvmem }.map do |i|
                "<td class=\"r\">#{ format_mem(job[i]) } MB</td>"
              end.join
            %>
            <td class="mbar"><nobr><%
              # vmem current
              vmem_cur_pix = (200 * (job["vmem"].to_f / (1024*1024*1024*12))).to_i
              # vmem max
              vmem_max_pix = (200 * (job["maxvmem"].to_f / (1024*1024*1024*12))).to_i
              # vmem requested
              vmem_req_pix = (200 * (job["vmem_request"].to_f  / (1024*1024*1024*12))).to_i
              %><span class="mbar-cur" style="width: <%= vmem_cur_pix %>px"></span><%
              if vmem_max_pix > vmem_cur_pix
                %><span class="mbar-max" style="width: <%= vmem_max_pix - vmem_cur_pix %>px"></span><%
              end
              if vmem_req_pix > vmem_max_pix
                %><span class="mbar-req" style="width: <%= vmem_req_pix - vmem_max_pix %>px"></span><%
              end
            %></nobr></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </form>
    <% if current_job and previous_date(date) %>
      <p><a href="/memory/<%= previous_date(date) %>/<%=h current_job %>">Look for this job on the previous day</a></p>
    <% end %>

    </div>
  </body>
</html>

